.useFlex(@justify,@align){
    display: flex;
    justify-content: @justify;
    align-items: @align;

}
.buttonStyle(@border-radius){
    background-color: #008080;
    color: white;
    text-align: center;
    border-radius: @border-radius;
}